<br/>
<div class="jumbotron" [ngStyle]="{'background-color': color}">
  <h1 class="display-3"></h1>
</div>

<div class="row marketing">
  <!-- <ul>
    <li *ngFor="let item of items | async">
      <input type="text" #updatetext [value]="item.original" />
      <button (click)="updateItem(item.key, updatetext.value)">Update</button>
    </li>
  </ul> -->
  <h1>{{ item | async | json }}</h1>
  <input type="text" #newColor [value]="color" />
  <input type="text" #newBrightness [value]="brightness" />
  <br />
  <button class = "btn" (click)="save(newColor.value)">Set Color</button>
  <button class = "btn" (click)="update(newBrightness.value)">Update Brightness</button>
</div>

